* {
    margin: 0;
}

main {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    height: auto;
}

.users-example {
    width: 100%;
    justify-content: space-around;
}

.users-example div {
    padding: 10px 20px;
    border-radius: 5px;
    border: 5px solid #0D6EFD
}