main .list-tasks-container {
    width: 95%;
}

main .list-tasks-container table td, main .list-tasks-container table th {
    padding: 10px;
    vertical-align: middle;
}

main .list-tasks-container table td i {
    margin-left: 10px;
    font-size: 16px;
}

main .list-tasks-container table .actions-buttons {
    display: inline-flex;
    width: 100%;
    padding: 15px 10px;
    justify-content: center;
    gap: 10px;
}

main .list-tasks-container table .actions-buttons .btn i {
    margin: 0;
}

main .list-tasks-container table .high-priority i {
    margin-left: 5px;
    color: #DC3545;
}

main .list-tasks-container table .medium-priority i {
    margin-left: 5px;
    color: #FFC107;
}

main .list-tasks-container table .low-priority i {
    margin-left: 5px;
    color: #218838;
}