main .list-tasks-container {
    width: 95%;
}

main .list-tasks-container table td, main .list-tasks-container table th {
    padding: 10px;
    vertical-align: middle;
}

main .list-tasks-container table td i {
    margin-left: 10px;
    font-size: 16px;
}

main .list-tasks-container table .actions-buttons {
    display: inline-flex;
    width: 100%;
    padding: 15px 0px;
    justify-content: center;
    gap: 10px;
}

main .list-tasks-container table .actions-buttons .btn i {
    margin-right: 5px;
}